@job-settings-width: 600px;

#job-settings {
  position: absolute;
  top: (@header-size + 10px);
}

@media (min-width: @job-settings-width) {
  #job-settings {
    width: @job-settings-width;
    left: calc(~"50% - "(@job-settings-width/2 - 10px));
  }
}

@media (max-width: @job-settings-width) {
  #job-settings {
    width: ~"calc(100% - 20px)";
    left: 10px;
  }
}

.job-settings-pane {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.job-settings-pane {
  margin-top: 10px;
}

#job-name {
  border: 1px solid @theme-color;
  width: 100%;
  height: 30px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0 5px;
}

#job-name:focus {
  outline: 0;
}

#job-actions {
  margin-top: 10px;
}

#job-actions::after {
  content: ' ';
  display: block;
  clear: both;
}

#job-actions > button {
  float: right;
  margin-left: 10px;
  width: 90px;
}
