{{define "fieldSeparator"}}
  <div class="field-separator"></div>
{{end}}

{{define "messageField"}}
  <div class="message-field">
    <label class="field-value">{{.}}</label>
  </div>
{{end}}

{{define "labelField"}}
  <div class="label-field">
    <label class="field-label">{{index . 0}}</label>
    <label class="field-value">{{index . 1}}</label>
  </div>
{{end}}

{{define "dateField"}}
  {{$dateFmt := "Jan 2 2006 15:04:05"}}
  {{$time := (index . 1)}}
  {{template "labelField" pair (index . 0) ($time.Format $dateFmt)}}
{{end}}

{{define "inputField"}}
  <div class="{{index . 0}}">
    {{with (index . 1)}}
      <label class="field-label">{{index . 0}}</label>
      <div class="field-value">
        <input value="{{index . 1}}">
      </div>
    {{end}}
  </div>
{{end}}

{{define "numberField"}}
  {{template "inputField" pair "number-field" .}}
{{end}}

{{define "textField"}}
  {{template "inputField" pair "text-field" .}}
{{end}}

{{define "checkField"}}
  <div class="check-field">
    <label class="field-label">{{index . 0}}</label>
    <div class="field-value">
      <input type="checkbox" {{if (index . 1)}} checked {{end}}>
    </div>
  </div>
{{end}}
