{{define "jobEdit"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader"}}

    <title>Job Editor (jobempire)</title>

    <script>
    window.initialTasks = JSON.parse("{{json .Tasks}}");
    </script>

    <script src="assets/scripts/pentagons.js"></script>
    <script src="assets/scripts/job_edit/main.js"></script>
    <script src="assets/scripts/job_edit/creator.js"></script>
    <link rel="stylesheet" href="assets/styles/style.css" type="text/css">
  </head>
  <body>
    {{template "navHeader" "jobs"}}
    <input type="hidden" id="job-id" value="{{.ID}}">
    <div class="list">
      <div class="pane">
        <input id="job-name" placeholder="Name" value="{{.Name}}">
        <div class="pane-buttons">
          <button class="save-button">Save</button>
          {{if not (eq .ID "")}}
            <button class="delete-button">Delete</button>
          {{end}}
        </div>
      </div>

      <div class="pane">
        {{template "numberField" pair "Max Instances" .MaxInstances}}
        {{template "numberField" pair "Priority" .Priority}}
        {{template "numberField" pair "CPUs" .NumCPU}}
      </div>

      <div id="tasks">
      </div>

      <div id="add-task-pane" class="pane">
        {{template "messageField" "Add A Task"}}
        <div class="pane-buttons" data-center="true">
          <button id="add-filetransfer">Get/Put</button>
          <button id="add-gorun">Go Run</button>
          <button id="add-exit">Exit</button>
        </div>
      </div>

      <div id="task-templates">
        {{template "taskFileTransfer"}}
        {{template "taskGoRun"}}
        {{template "taskExit"}}
      </div>
    </div>
  </body>
</html>
{{end}}

{{define "taskControls"}}
<div class="task-controls">
  <button class="task-delete">Delete</button>
  <button class="task-moveup">Move Up</button>
  <button class="task-movedown">Move Down</button>
</div>
{{end}}

{{define "taskFileTransfer"}}
<div class="task pane task-filetransfer">
  {{template "taskControls"}}
  {{template "messageField" "File Transfer"}}
  {{if .}}
    {{template "checkField" pair "To slave" .ToSlave}}
    {{template "textField" pair "Master path" .MasterPath}}
    {{template "textField" pair "Slave path" .SlavePath}}
  {{else}}
    {{template "checkField" pair "To slave" false}}
    {{template "textField" pair "Master path" ""}}
    {{template "textField" pair "Slave path" ""}}
  {{end}}
</div>
{{end}}

{{define "taskGoRun"}}
<div class="task pane task-gorun">
  {{template "taskControls"}}
  {{template "messageField" "Go Run"}}
  {{if .}}
    {{template "textField" pair "Source dir" .GoSourceDir}}
  {{else}}
    {{template "textField" pair "Source dir" ""}}
  {{end}}
  <div class="pane-buttons" data-center="true">
    <button class="delete-button">- Arg</button>
    <button class="add-button">+ Arg</button>
  </div>
  {{if .}}
    {{range .Arguments}}
      {{template "textField" pair "Argument" .}}
    {{end}}
  {{end}}
</div>
{{end}}

{{define "taskExit"}}
<div class="task pane task-exit">
  {{template "taskControls"}}
  {{template "messageField" "Exit"}}
</div>
{{end}}
