{{define "jobEdit"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader" "Edit Job"}}
    <script src="assets/scripts/job_edit/main.js"></script>
    <script src="assets/scripts/job_edit/creator.js"></script>
    <script src="assets/scripts/job_edit/encoder.js"></script>
  </head>
  <body>
    {{template "navHeader" "jobs"}}
    <input type="hidden" id="job-id" value="{{.ID}}">
    <div class="list">
      <div class="pane">
        <input id="job-name" placeholder="Name" value="{{.Name}}">
        <div class="pane-buttons">
          <button class="save-button">Save</button>
          {{if not (eq .ID "")}}
            <button class="delete-button">Delete</button>
          {{end}}
        </div>
      </div>

      <div class="pane" id="scheduling-prefs">
        {{template "numberField" pair "Max instances" .MaxInstances}}
        {{template "numberField" pair "Priority" .Priority}}
        {{template "numberField" pair "CPUs" .NumCPU}}
        {{template "numberField" pair "Memory (MiB)" .MemUsage}}
      </div>

      <div id="tasks">
        {{range .Tasks}}
          {{with jsonPass .}}
            {{if .FileTransfer}}
              {{template "taskFileTransfer" .FileTransfer}}
            {{else if .GoRun}}
              {{template "taskGoRun" .GoRun}}
            {{else}}
              {{template "taskExit" .Exit}}
            {{end}}
          {{end}}
        {{end}}
      </div>

      <div id="add-task-pane" class="pane">
        {{template "messageField" "Add A Task"}}
        <div class="pane-buttons" data-center="true">
          <button id="add-filetransfer">Get/Put</button>
          <button id="add-gorun">Go Run</button>
          <button id="add-exit">Exit</button>
        </div>
      </div>

      {{if not (eq .ID "")}}
        <div class="pane">
          <div class="pane-buttons" data-center="true">
            <button onclick="location='/clone?id={{.ID}}'">Clone</button>
          </div>
        </div>
      {{end}}

      <div id="task-templates">
        {{template "taskFileTransfer"}}
        {{template "taskGoRun"}}
        {{template "taskExit"}}
      </div>
    </div>
  </body>
</html>
{{end}}

{{define "taskControls"}}
<div class="task-controls">
  <button class="task-delete">Delete</button>
  <button class="task-moveup">Move Up</button>
  <button class="task-movedown">Move Down</button>
</div>
{{end}}

{{define "taskFileTransfer"}}
<div class="task pane task-filetransfer">
  {{template "taskControls"}}
  {{template "messageField" "File Transfer"}}
  {{if .}}
    {{template "checkField" pair "To slave" .ToSlave}}
    {{template "textField" pair "Master path" .MasterPath}}
    {{template "textField" pair "Slave path" .SlavePath}}
  {{else}}
    {{template "checkField" pair "To slave" false}}
    {{template "textField" pair "Master path" ""}}
    {{template "textField" pair "Slave path" ""}}
  {{end}}
</div>
{{end}}

{{define "taskGoRun"}}
<div class="task pane task-gorun">
  {{template "taskControls"}}
  {{template "messageField" "Go Run"}}
  {{if .}}
    {{template "textField" pair "GOPATH" .GoPath}}
    {{template "textField" pair "Source dir" .GoSourceDir}}
    {{range .Arguments}}
      {{template "textField" pair "" .}}
    {{end}}
  {{else}}
    {{template "textField" pair "GOPATH" .GoSourceDir}}
    {{template "textField" pair "Source dir" ""}}
  {{end}}
  <div class="pane-buttons" data-center="true">
    <button class="delete-button">- Arg</button>
    <button class="add-button">+ Arg</button>
  </div>
</div>
{{end}}

{{define "taskExit"}}
<div class="task pane task-exit">
  {{template "taskControls"}}
  {{template "messageField" "Exit"}}
</div>
{{end}}
