{{define "jobs"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader"}}

    <title>Jobs (jobempire)</title>

    <script src="assets/scripts/pentagons.js"></script>
    <link rel="stylesheet" href="assets/styles/style.css" type="text/css">
  </head>
  <body>
    {{template "navHeader" "jobs"}}
    {{if $jobs := .Jobs}}
      {{range $jobs}}
        {{/* TODO: output element describing job here. */}}
      {{end}}
    {{else}}
      <div id="no-jobs" class="item-pane empty-list-pane">No Jobs</div>
    {{end}}
  </body>
</html>
{{end}}
