{{define "jobs"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader"}}

    <title>Jobs (jobempire)</title>

    <script src="assets/scripts/pentagons.js"></script>
    <link rel="stylesheet" href="assets/styles/style.css" type="text/css">
  </head>
  <body>
    {{template "navHeader" "jobs"}}
    {{if $jobs := .Jobs}}
      <div id="job-list" class="pane-grid">
      {{range $jobs}}
        <div class="item-pane item-pane-clickable job-pane"
             onclick="location='/editjob?id={{.ID}}'">
          <input type="hidden" class="job-id" value="{{.ID}}">
          {{template "labelField" pair "Name" .Name}}
          {{template "labelField" pair "Tasks" (len .Tasks)}}
          {{template "labelField" pair "Max Inst." .MaxInstances}}
          {{template "labelField" pair "Priority" .Priority}}
          {{template "labelField" pair "NumCPU" .NumCPU}}
        </div>
      {{end}}
      </div>
    {{else}}
      <div id="no-jobs" class="item-pane empty-list-pane">No Jobs</div>
    {{end}}
    <a class="item-pane item-pane-clickable" href="/addjob"
       id="add-job-button">Add Job</a>
  </body>
</html>
{{end}}
