{{define "liveJob"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader" "Live Job"}}
  </head>
  <body>
    {{template "navHeader" "slaves"}}

    <div class="list">
      <div class="pane">
        {{template "liveJobFields" .LiveJob}}
        {{if .LiveJob.Running}}
          <div class="pane-buttons" data-center="true">
            <button onclick="location='/stopjob?slave={{.SlaveID}}&amp;idx={{.JobIndex}}'"
                    class="delete-button">Kill</button>
          </div>
        {{end}}
      </div>
      {{$taskRoot := printf "/task?slave=%s&job=%s&task=" .SlaveID .JobIndex}}
      {{range $i, $task := .LiveJob.Tasks 0 .LiveJob.TaskCount}}
        <div class="pane" data-clickable="true"
             onclick="window.location='{{$taskRoot -}} {{- $i}}'">
          {{template "liveTaskFields" $task}}
        </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}

{{define "liveJobFields"}}
  {{template "labelField" pair "Job name" .Job.Name}}
  {{template "dateField" pair "Start time" .StartTime}}
  {{if .Running}}
    {{template "labelField" pair "Status" "Running"}}
  {{else}}
    {{template "dateField" pair "End time" .EndTime}}
    {{template "labelField" pair "Status" "Stopped"}}
  {{end}}
  {{template "labelField" pair "Run tasks" .TaskCount}}
  {{template "labelField" pair "Total tasks" (len .Job.Tasks)}}
{{end}}
