{{define "liveTask"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader" "Live Task"}}
  </head>
  <body>
    {{template "navHeader" "slaves"}}

    <div class="list">
      <div class="pane">
        {{template "liveTaskFields" .}}
      </div>
      {{if .LogSize}}
        <div class="pane">
          <ol id="backlog">
            {{range .LogEntries 0 .LogSize}}
              <li class="{{template "logEntryClass" .}}">{{.Message}}</li>
            {{end}}
          </ol>
        </div>
      {{else}}
        <div class="pane">
          {{template "messageField" "No log output."}}
        </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}

{{define "logEntryClass"}}
  {{- if .FromMaster -}}
    from-master
  {{- else -}}
    from-slave
  {{- end -}}
{{end}}

{{define "liveTaskFields"}}
  {{with jsonPass .Task}}
    {{if .FileTransfer}}
      {{template "liveFileTransfer" .FileTransfer}}
    {{else if .GoRun}}
      {{template "liveGoRun" .GoRun}}
    {{else}}
      {{template "liveExit" .Exit}}
    {{end}}
  {{end}}
  {{template "fieldSeparator"}}
  {{template "dateField" pair "Start Time" .StartTime}}
  {{if not .Running}}
    {{template "dateField" pair "End Time" .EndTime}}
    {{template "labelField" pair "Status" "Not running"}}
    {{if .Error}}
      {{template "labelField" pair "Error" .Error}}
    {{end}}
  {{else}}
    {{template "labelField" pair "Status" "Running"}}
  {{end}}
{{end}}

{{define "liveFileTransfer"}}
  {{template "messageField" "File Transfer"}}
  {{template "labelField" pair "To slave" .ToSlave}}
  {{template "labelField" pair "Master path" .MasterPath}}
  {{template "labelField" pair "Slave path" .SlavePath}}
{{end}}

{{define "liveGoRun"}}
  {{template "messageField" "Go Run"}}
  {{template "labelField" pair "Source dir" .GoSourceDir}}
  {{range .Arguments}}
    {{template "labelField" pair "" .}}
  {{end}}
{{end}}

{{define "liveExit"}}
  {{template "messageField" "Exit"}}
{{end}}
