{{define "slaves"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader" "Slaves"}}

    <script src="assets/scripts/slaves/main.js"></script>
  </head>
  <body>
    {{template "navHeader" "slaves"}}
    {{if $masters := masters .}}
      <div class="grid">
        <div class="grid-header list">
          <div class="pane">
            <div class="pane-buttons" data-center="true">
              <button id="toggle-showall">Hide Done</button>
            </div>
          </div>
        </div>
        {{range $revI, $m := reverse $masters}}
          {{$i := reverseIndex $revI (len $masters)}}
          <div class="pane {{template "slaveRunningClass" .}}"
               data-clickable="true" onclick="location='/slave?id={{$i}}'">
            {{template "slaveInfoFields" $m}}
          </div>
        {{end}}
      </div>
    {{else}}
      <div id="no-slaves" class="empty-pane">No Slaves</div>
    {{end}}
  </body>
</html>
{{end}}

{{define "slaveRunningClass"}}
  {{- if .Master.Running -}}
    slave-pane-running
  {{- else -}}
    slave-pane-not-running
  {{- end -}}
{{end}}

{{define "slaveInfoFields"}}
  {{with .Master.SlaveInfo}}
    {{template "labelField" pair "CPUs" (printf "%d (of %d)" .MaxProcs .NumCPU)}}
    {{template "labelField" pair "GOOS" .OS}}
    {{template "labelField" pair "GOARCH" .Arch}}
  {{end}}

  {{template "labelField" pair "Total jobs" .Master.JobCount}}

  {{if .Auto}}
    {{template "labelField" pair "Scheduling" "Auto"}}
  {{else}}
    {{template "labelField" pair "Scheduling" "Manual"}}
  {{end}}

  {{if .Master.Accepting}}
    {{template "labelField" pair "Status" "Online"}}
  {{else if .Master.Running}}
    {{template "labelField" pair "Status" "Halting"}}
  {{else}}
    {{template "labelField" pair "Status" "Shutdown"}}
  {{end}}
{{end}}
