{{define "slave"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader" "Slave"}}
  </head>
  <body>
    {{template "navHeader" "slaves"}}

    <div class="list">
      <div class="pane">
        {{template "slaveInfoFields" .}}
        {{if .Master.Accepting}}
          <div class="pane-buttons" data-center="true">
            <button onclick="location='/shutdown?id={{.ID}}'"
                    class="delete-button">Halt</button>
          </div>
        {{end}}
      </div>
      {{if .Master.Accepting}}
        <div class="pane">
          {{template "messageField" "Automatic scheduling"}}
          <div class="pane-buttons" data-center="true">
            <button onclick="location='/setauto?auto={{not .Auto}}&amp;id={{.ID}}'">
              {{- if .Auto -}} Disable {{- else -}} Enable {{- end -}}
            </button>
          </div>
        </div>

        <div class="pane">
          <form action="/launch">
            <input type="hidden" name="slave" value="{{.ID}}">
            <div class="select-field">
              <label class="field-label">Launch task</label>
              <div class="field-value">
                <select name="job">
                  {{range .AllJobs}}
                    <option value="{{.ID}}">{{.Name}}</option>
                  {{end}}
                </select>
              </div>
            </div>
            <div class="pane-buttons" data-center="true">
              <input type="submit" value="Launch">
            </div>
          </form>
        </div>
      {{end}}
      {{$slaveID := .ID}}
      {{$jobCount := .Master.JobCount}}
      {{if $jobCount}}
      <div class="pane-gap"></div>
      {{end}}
      {{range $revI, $job := reverse (.Master.Jobs 0 $jobCount)}}
        {{$i := reverseIndex $revI $jobCount}}
        <div class="pane" data-clickable="true"
             onclick="location='/job?slave={{$slaveID}}&amp;idx={{$i}}'">
          {{template "liveJobFields" $job}}
        </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}
