{{define "slave"}}
<!doctype html>
<html>
  <head>
    {{template "htmlHeader" "Slave"}}
  </head>
  <body>
    {{template "navHeader" "slaves"}}

    <div class="list">
      <div class="pane" id="scheduling-prefs">
        {{template "slaveInfoFields" .}}
      </div>
      {{if .Master.Accepting}}
        <div class="pane">
          {{template "messageField" "Automatic scheduling"}}
          <div class="pane-buttons" data-center="true">
            <button onclick="location='/setauto?auto={{not .Auto}}&amp;id={{.ID}}'"
                    id="toggle-auto">
              {{- if .Auto -}} Disable {{- else -}} Enable {{- end -}}
            </button>
          </div>
        </div>
      {{end}}
      {{$slaveID := .ID}}
      {{$jobCount := .Master.JobCount}}
      {{range $revI, $job := reverse (.Master.Jobs 0 $jobCount)}}
        {{$i := reverseIndex $revI $jobCount}}
        <div class="pane" data-clickable="true"
             onclick="location='/job?slave={{$slaveID}}&amp;idx={{$i}}'">
          {{template "liveJobFields" $job}}
        </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}
