button {
  border: none;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #aaa;
  color: white;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #888;
}

.delete-button {
  background-color: #d4718f;
}

.delete-button:hover {
  background-color: #a95972;
}
