@list-width: 600px;
@pane-spacing: 12px;

@grid-pane-width: 280px;
@golden-pane-height: round(@grid-pane-width / 1.618);

.pane {
  background-color: rgba(255, 255, 255, 0.7);
}

.pane[data-clickable="true"] {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  > * {
    pointer-events: none;
  }
}

.empty-pane {
  .pane;

  position: absolute;
  top: (@header-size + @pane-spacing);
  left: calc(~"50% - "(@grid-pane-width / 2));
  width: @grid-pane-width;
  height: @golden-pane-height;
  line-height: @golden-pane-height;
  text-align: center;
  color: @theme-color;
  font-weight: 300px;
  font-size: 30px;
}

.grid {
  position: absolute;
  top: (@header-size + @pane-spacing);
  left: 10px;
  width: ~"calc(100% - 20px)";
  text-align: center;

  /* Fix the annoying space between floating elements. */
  font-size: 0;

  .pane {
    font-size: @font-size;
    display: inline-block;
    box-sizing: border-box;
    width: @grid-pane-width;
    margin: 0 (@pane-spacing/2) @pane-spacing (@pane-spacing/2);
    padding: 15px;
  }

  .grid-header {
    position: relative;
    top: auto;
  }
}

.list {
  position: absolute;
  top: (@header-size + @pane-spacing);

  .pane {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 @pane-spacing 0;
    padding: 10px;
  }
}

@media (min-width: (@list-width+(@pane-spacing*2))) {
  .list {
    width: @list-width;
    left: calc(~"50% - "(@list-width / 2));
  }
}

@media (max-width: (@list-width+(@pane-spacing*2))) {
  .list {
    width: calc(~"100% - "(@pane-spacing*2));
    left: @pane-spacing;
  }
}

.pane-buttons {
  margin-top: 10px;

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }

  > @{button-selector} {
    float: right;
    margin-left: 10px;
    width: 100px;
    padding: 0;
  }
}

.pane-buttons[data-center="true"] {
  text-align: center;

  > @{button-selector} {
    float: none;
    margin: 0 @field-separation 10px @field-separation;
  }
}

.pane-gap {
  height: 10px;
  margin: 10px 0;
}
